/**** RESET ****/
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #c9b99f;
}

/**** HEADER ****/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 30px;
  background-color: #ffffff;
}

header img {
  border-radius: 0.5em;
  width: 175px;
}

header ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

header li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: #444e5d;
  text-align: center;
  transition: background-color 0.4s ease;
}

header li a:hover {
  background-color: #444e5d;
  color: #ffffff;
  padding: 15px;
  font-size: 25px;
  border-radius: 0.15em 0;
}

/********************* BODY *************************/

main {
  width: 100%;
}

h2 {
  color: #56572d;
  font-size: 50px;
  font-weight: 1000;
}

#introContainer {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
  background: linear-gradient(
    to right,
    #ffffff,
    #c9b99f,
    #c9b99f,
    #c9b99f,
    #ffffff
  );
  border-top: 2px solid #c9b99f;
  border-bottom: 2px solid #c9b99f;
}

#introContainer img {
  width: 650px;
  padding: 10px;
}

.buttonDiv button {
  width: 438px;
  font-size: 26px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 900;
  margin: 10px;
  padding: 12px;
  background-color: #444e5d;
  color: #f5f5ef;
  border: none;
  transition: background-color 0.3s ease;
}

.buttonDiv button:hover {
  cursor: pointer; /* or any other cursor style you prefer on hover */
  background-color: #f5f5ef;
  color: #444e5d;
}

/**************************************************/
/****************** MEET AHLAM ********************/

.meetAhlam {
  text-align: center;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  min-height: 100vh; /* Ensure container covers the viewport */
  background-color: #ffffff;
}

.picIntro {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  text-align: center;
}

.picIntro img,
.picIntro div {
  width: 450px;
}

.picIntro img {
  border-radius: 20px;
}

.picIntro p {
  font-size: 70px;
  line-height: 150%;
}

.introGoal {
  width: 60%;
  text-align: center;
  margin-top: 100px;
  font-size: 28px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /*white-space: pre-wrap; /* Preserve line breaks */
}

/**************************************************/
/****************** SOCIAL LOGOS ******************/
.socialLogos {
  display: flex;
  justify-content: center;
  gap: 50px;
  /* margin: 25px 0;*/
  padding: 20px 0;
  background-color: #ffffff;
  padding-bottom: 50px;
}

.socialLogos img {
  width: 4.5em;
}

/**************************************************/
/****************** KEY VALUES / ISSUES ********************/
.priorities {
  text-align: center;
  background-image: linear-gradient(
    to bottom,
    #c9b99f,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff
  );
}

.priorities h2 {
  margin: 100px 0 0;
}

.priorities h2:first {
  color: #444e5d;
}

.prioritiesP {
  display: flex;
  flex-wrap: wrap;
  gap: 75px;
  justify-content: center;
  text-align: start;
}

.prioritiesP p {
  width: 550px;
  font-size: 25px;
  color: #f5f5ef;
  background-color: #56572d;
  padding: 15px;
  line-height: 150%;
  border-radius: 10px;
}

.keyissues {
  padding: 30px;
  line-height: 220%;
}

/*
  .valuesh2,
  .valuesP {
    background-color: #ffffff;
  }
  */
.valuesP {
  text-align: center;
  justify-content: center;
  padding-bottom: 30px;
}

.valuesh2 {
  padding-top: 30px;
  color: #56572d;
}

.valuesP p {
  width: 350px;
  background-color: #56572d;
}

/**************************************************/
/****************** ABOUT ME ********************/
.about {
  text-align: center;
}

.about h2 {
  margin: 50px 0 0;
}

.aboutMeP {
  display: flex;
  flex-wrap: wrap;
  gap: 75px;
  justify-content: center;
  text-align: start;
}

.aboutMeP p {
  width: 350px;
  font-size: 20px;
}

.ahlamPics img {
  padding: 35px 0;
  height: 300px;
  margin-right: 25px;
}

/**************************************************/
/****************** BACKGROUND ********************/
.background {
  text-align: center;
}

.background h2 {
  margin: 50px 0 0;
}

.backgroundP {
  display: flex;
  flex-wrap: wrap;
  gap: 75px;
  justify-content: center;
  text-align: start;
}

.backgroundP p {
  width: 350px;
  font-size: 20px;
}

/**************************************************/
/********************** MEDIA *********************/
.media {
  text-align: center;
  background-image: linear-gradient(
    to bottom,
    #c9b99f,
    #ffffff,
    #ffffff,
    #c9b99f
  );
}

.media h2 {
  margin: 100px 0 50px;
}

.mediaDivs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-wrap: wrap;
}

.mediaDiv {
  display: block;
  width: 600px;
  margin-bottom: 50px;
  margin: 50px;
  text-decoration: none;
  color: black;
}

.mediaDiv img {
  width: 575px;
  border-radius: 5px;
}

.mediaDiv p {
  font-size: 35px;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 600px;
}

.mediaDiv img:hover {
  width: 600px;
}

/**************************************************/
/********************** FORM **********************/
.getInvolved {
  padding-top: 20px;
  text-align: center;
  font-size: 23px;
  background-color: #ffffff;
}

.getInvolved input,
.getInvolved textarea {
  width: 550px;
  height: 28px;
  font-size: 20px;
}

.getInvolved textarea {
  height: 100px;
}

.required-field {
  color: red;
}

.getInvolved button {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  padding: 10px 0;
  font-weight: bold;
  margin: 45px 0;
  width: 550px;
  background-color: #56572d;
  color: #ffffff;
  cursor: pointer;
}

.friendsofahlamosman {
  color: #656d4a;
  font-size: 18px;
  padding-bottom: 30px;
}

/**************************************************/
/********************** FOOTER ********************/
footer {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.footer-left img {
  max-width: 200px;
  border-radius: 10px;
}

.footer-right img {
  width: 4em;
  margin-left: 10px;
}
